<div ng-init="getRoomList()"  class="modal fade" id="changeTalk" tabindex="-1" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Изменение доклада</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
<!--                    <option selected>Open this select menu</option>-->
                    <option ng-repeat="r in roomList" value="1">{{r}}</option>
                </select>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                <button type="button" class="btn btn-primary">Сохранить</button>
            </div>
        </div>
    </div>
</div>

<div ng-init="getMySpeaks()">
    <div ng-show="mySpeaksList.length != 0">
        <h2>Вы участвуете на конференциях:</h2>
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Аудитория</th>
                <th scope="col">Начало</th>
                <th scope="col">Окончание</th>
                <th scope="col">Доклад</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="speak in mySpeaksList">
                <td>{{speak.room}}</td>
                <td>{{speak.startTime}}</td>
                <td>{{speak.endTime}}</td>
                <td>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                                data-bs-toggle="dropdown" aria-expanded="false">
                            {{speak.talkDto.text}}
                        </button>
                        <div class="dropdown-menu p-4 text-muted" style="max-width: 400px;">
                            <p>Спикеры</p>
                            <ul ng-repeat="speaker in speak.talkDto.speakers">
                                <li>{{speaker.login}} {{speaker.userInfo.firstName}} {{speaker.userInfo.lastName}}</li>
                            </ul>
                            <p> Участников: {{speak.listenersCount}} </p>
                        </div>
                    </div>
                </td>
                <td>
                    <button ng-show="checkOwner(speak.talkDto.owner)" type="button" style="margin-right: 10px"
                            class="btn btn-primary"
                            data-bs-toggle="modal" data-bs-target="#changeTalk" data-bs-whatever="{{speak}}">
                        Изменить
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div ng-show="myTalksList.length == 0">
        <h2>Вы не выступаете ни на одной конференции</h2>
    </div>
</div>